In [1]:
from sqlalchemy import create_engine, text

In [3]:
database_name = 'prescription_drugs'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [5]:
engine = create_engine(connection_string)

In [7]:
import pandas as pd

In [29]:
query = """WITH fips_county AS (SELECT county, state, fipscounty::integer, fipsstate
					 FROM fips_county)
SELECT *
FROM overdose_deaths
INNER JOIN fips_county USING(fipscounty)"""

In [31]:
with engine.connect() as connection:
    overdose_deaths = pd.read_sql(text(query), con = connection)

overdose_deaths.head()

   fipscounty  overdose_deaths  year    county state fipsstate
0       47001               18  2018  ANDERSON    TN        47
1       47001               34  2017  ANDERSON    TN        47
2       47001               24  2016  ANDERSON    TN        47
3       47001               20  2015  ANDERSON    TN        47
4       47003                7  2018   BEDFORD    TN        47

In [39]:
with engine.connect() as connection:
    overdose_deaths = pd.read_sql(text(query), con = connection)

overdose_deaths.groupby('county').describe()

           fipscounty                                                    \
                count     mean  std      min      25%      50%      75%
county
ANDERSON          4.0  47001.0  0.0  47001.0  47001.0  47001.0  47001.0
BEDFORD           4.0  47003.0  0.0  47003.0  47003.0  47003.0  47003.0
BENTON            4.0  47005.0  0.0  47005.0  47005.0  47005.0  47005.0
BLEDSOE           4.0  47007.0  0.0  47007.0  47007.0  47007.0  47007.0
BLOUNT            4.0  47009.0  0.0  47009.0  47009.0  47009.0  47009.0
...               ...      ...  ...      ...      ...      ...      ...
WAYNE             4.0  47181.0  0.0  47181.0  47181.0  47181.0  47181.0
WEAKLEY           4.0  47183.0  0.0  47183.0  47183.0  47183.0  47183.0
WHITE             4.0  47185.0  0.0  47185.0  47185.0  47185.0  47185.0
WILLIAMSON        4.0  47187.0  0.0  47187.0  47187.0  47187.0  47187.0
WILSON            4.0  47189.0  0.0  47189.0  47189.0  47189.0  47189.0

                    overdose_deaths         ...               year          \
                max           count   mean  ...    75%   max count    mean
county                                      ...
ANDERSON    47001.0             4.0  24.00  ...  26.50  34.0   4.0  2016.5
BEDFORD     47003.0             4.0   4.75  ...   7.25   8.0   4.0  2016.5
BENTON      47005.0             4.0   2.75  ...   4.25   5.0   4.0  2016.5
BLEDSOE     47007.0             4.0   2.00  ...   2.25   3.0   4.0  2016.5
BLOUNT      47009.0             4.0  24.75  ...  29.25  30.0   4.0  2016.5
...             ...             ...    ...  ...    ...   ...   ...     ...
WAYNE       47181.0             4.0   2.00  ...   3.25   4.0   4.0  2016.5
WEAKLEY     47183.0             4.0   3.50  ...   4.25   5.0   4.0  2016.5
WHITE       47185.0             4.0   4.75  ...   7.25   8.0   4.0  2016.5
WILLIAMSON  47187.0             4.0  23.50  ...  25.50  30.0   4.0  2016.5
WILSON      47189.0             4.0  24.50  ...  26.25  27.0   4.0  2016.5


                 std     min      25%     50%      75%     max
county
ANDERSON    1.290994  2015.0  2015.75  2016.5  2017.25  2018.0
BEDFORD     1.290994  2015.0  2015.75  2016.5  2017.25  2018.0
BENTON      1.290994  2015.0  2015.75  2016.5  2017.25  2018.0
BLEDSOE     1.290994  2015.0  2015.75  2016.5  2017.25  2018.0
BLOUNT      1.290994  2015.0  2015.75  2016.5  2017.25  2018.0
...              ...     ...      ...     ...      ...     ...
WAYNE       1.290994  2015.0  2015.75  2016.5  2017.25  2018.0
WEAKLEY     1.290994  2015.0  2015.75  2016.5  2017.25  2018.0
WHITE       1.290994  2015.0  2015.75  2016.5  2017.25  2018.0
WILLIAMSON  1.290994  2015.0  2015.75  2016.5  2017.25  2018.0
WILSON      1.290994  2015.0  2015.75  2016.5  2017.25  2018.0

[95 rows x 24 columns]