In [1]:
from sqlalchemy import create_engine, text

In [2]:
database_name = 'prescription'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
import pandas as pd

In [5]:
query = 'SELECT * FROM prescription'

In [6]:
with engine.connect() as connection:
    prescription = pd.read_sql(text(query), con = connection)

prescription.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

In [7]:
## What is the ration for spending on Opioid vs Non-Opioid prescriptions?
query = 'SELECT SUM(total_drug_cost)::money AS sum_of_costs, opioid_drug_flag, long_acting_opioid_drug_flag FROM prescription INNER JOIN drug USING (drug_name) GROUP BY opioid_drug_flag, long_acting_opioid_drug_flag'

with engine.connect() as connection:
    twob = pd.read_sql(text(query), con = connection)
    
twob.head()

        sum_of_costs opioid_drug_flag long_acting_opioid_drug_flag
0  $3,011,133,831.49                N                            N
1     $52,799,965.73                Y                            N
2     $52,280,660.64                Y                            Y

In [8]:
##find total cost of all drugs named SPIRIVA

In [9]:
prescription

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656053,1.336170e+09,PROMETHAZINE HCL,NaN,11.0,11.0,56.0,62.82,NaN,*,NaN,*,NaN,NaN,NaN
656054,1.679676e+09,RANITIDINE HCL,53.0,178.0,426.0,12760.0,2860.16,NaN,#,NaN,#,NaN,NaN,NaN
656055,1.265588e+09,DIAZEPAM,16.0,48.0,48.0,1425.0,253.49,NaN,*,14.0,None,14.0,420.0,55.49
656056,1.144212e+09,RAMIPRIL,NaN,38.0,90.0,2700.0,627.50,NaN,#,NaN,#,NaN,NaN,NaN
656057,1.205923e+09,ATENOLOL,11.0,36.0,108.0,3240.0,396.79,NaN,#,NaN,#,NaN,NaN,NaN

In [10]:
prescription.loc[prescription.drug_name == "SPIRIVA"].total_drug_cost.sum()

45426045.620000005